#Importando da biblioteca Pandas para manipulação de dados

In [ ]:
import pandas as pd

#Lendo o arquivo e salvando o DataFrame em uma variável

In [ ]:
df = pd.read_csv('/content/vgchartz-2024.csv', sep=';')

#Verificando a existência e tratando valores nulos nas colunas de "Data de lançamento" e "Desenvolvedora"

Soma da quantidade de valores nulos em cada coluna

In [ ]:
df.isnull().sum()

img                 0
title               0
console             0
genre               0
publisher           0
developer          17
critic_score    57338
total_sales     45094
na_sales        51379
jp_sales        57290
pal_sales       51192
other_sales     48888
release_date     7051
last_update     46137
dtype: int64

Remoção de valores nulos nas colunas "release_date" e "developer"

In [ ]:
df_limpo = df.dropna(subset=['release_date', 'developer'])

Comparação dos dois DataFrames

In [ ]:
print("DataFrame original: ", df.shape)
print("Novo DataFrame após a limpeza: ", df_limpo.shape)

Original Shape: (64016, 14)
New Shape after dropping N/A: (56954, 14)

#Tratamento de valores nulos nas colunas de vendas

Criação de uma lista com as colunas de vendas

In [ ]:
colunas_vendas = ['total_sales', 'na_sales', 'jp_sales', 'pal_sales', 'other_sales']

Substituição de valores NaN por 0

In [ ]:
df_limpo[colunas_vendas] = df_limpo[colunas_vendas].fillna(0)

<ipython-input-36-900bae12dec6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpo[colunas_vendas] = df_limpo[colunas_vendas].fillna(0)

#Tratamento de valores nulos na coluna "Última atualização"

Substitui valores NaN na coluna de atualizações pela data de lançamento do jogo

In [ ]:
df_limpo['last_update'] = df_limpo['last_update'].fillna(df_limpo['release_date'])

<ipython-input-37-5f6d3dd2f0fa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpo['last_update'] = df_limpo['last_update'].fillna(df_limpo['release_date'])

#Tratamento de valores nulos na coluna "Nota do jogo"

Jogos sem nota são substituidos por 0

In [ ]:
df_limpo['critic_score'] = df_limpo['critic_score'].fillna(0)

<ipython-input-45-019e2490d9ce>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpo['critic_score'] = df_limpo['critic_score'].fillna(0)

Verificação dos valores

In [ ]:
df_limpo['critic_score']

0        9.4
1        9.7
2        9.6
3        0.0
4        8.1
        ...
64010    0.0
64011    0.0
64012    0.0
64013    0.0
64014    0.0
Name: critic_score, Length: 56954, dtype: float64

#Salvamos a base de dados tratada no formato csv

In [ ]:
df_limpo.to_csv('vendas2024-vg.csv', sep=';', index=False)